<!DOCTYPE html>
<html lang="en" class="no-js">
<%- include('../partials/head.ejs') %>
<body>
    <%- include('../partials/flash.ejs') %>
    <main id="dashboard">
        <dialog class="dashboard-dialog">
            <form class="dashboard-dialog-form" action="" method="POST">
                <p class="dash-dialog-message"></p>
                <div>
                    <button type="submit" title="Delete" aria-label="Delete">Delete</button>
                    <button type="button" onclick="closeDialog()">Cancel</button>
                </div>
            </form>
        </dialog>
        <aside class="dashboard-sidebar-left">
            <h1>Dashboard</h1>
            <div>
                <label><span>2Jz Music Events</span>: <span><%- music.length %></span></label>
            </div>
            <div class="dash-panel-viewer">
                <label><span>Local Events</span>: <span><%- events.length %></span></label>
            </div>
            <div class="dash-panel-viewer">
                <label><span>Local Businesses</span>: <span><%- businesses.length %></span></label>
            </div>
            <div class="dash-panel-search-controls">
                <div>
                    <label for="search-all-input" onclick="toggleInput('search-all-input')" title="Open/Close Search" aria-label="Open/Close Search">Search</label>
                    <input id="search-all-input" class="clear-input rounded p-2 bg-black border border-white w-[250px]" type="text" oninput="searchFunction(this.value.toUpperCase(), localStorage.getItem('open-viewer'))" title="Search..." aria-label="Search..." placeholder="Search...">
                    <button class="clear-button" onclick="clearInput('search-all-input', document.querySelectorAll('.dash-content-music-event, .dash-content-local-event, .dash-content-local-business'))" title="Delete Search" aria-label="Delete Search"><svg xmlns="http://www.w3.org/2000/svg" width="24" viewBox="0 0 24 24"><path fill="#fff" d="M6 19c0 1.1.9 2 2 2h8c1.1 0 2-.9 2-2V7H6v12zm2.46-7.12l1.41-1.41L12 12.59l2.12-2.12 1.41 1.41L13.41 14l2.12 2.12-1.41 1.41L12 15.41l-2.12 2.12-1.41-1.41L10.59 14l-2.13-2.12zM15.5 4l-1-1h-5l-1 1H5v2h14V4z"/></svg></button>
                </div>
                <div>
                    <span class="dash-panel-matches"></span>
                </div>
            </div>
            <hr>
            <nav>
                <div class="flex flex-col">
                    <label style="margin-top: 0">+ Add</label>
                    <button onclick="openDialog(0, 'music', 'Add New Event')">New Music Event</button>
                    <button>New Music Track</button>
                    <button>New Local Event</button>
                    <button>New Local Business</button>
                </div>
                <div class="flex flex-col">
                    <label>Commands</label>
                    <a href="#">Update Spotify RSS Feed</a>
                    <a href="#">Update GitHub Information</a>
                </div>
            </nav>
        </aside>
        <aside class="dashboard-sidebar-right">
            <h1>Dashboard</h1>
            <nav class="flex flex-col">
                <a href="#">Facebook Page</a>
                <a href="#">Instagram</a>
            </nav>
        </aside>
        <section class="dashboard-content">
            <div class="container">
                <details open>
                    <summary class="mb-4"><span>2Jz Music Events</span></summary>
                    <div class="summary-wrapper">
                    <% for (let event of music ) { %>
                        <form action="/admin/music/edit/<%= event._id %>?_method=PUT" data-title="<%- event.title %>"  method="POST" class="flex flex-row items-start mb-4 validated-form" novalidate>
                            <div class="img-wrapper">
                                <div class="spinner"></div>
                                <img class="outline outline-1" src="<%- event.imagePath %>" alt="<%- event.title %>">
                            </div>
                            <div class="card-info flex flex-col px-8 w-full">
                                <br>
                                <label><strong>Image:</strong>
                                    <input type="text" name="event[imagePath]" value="<%- event.imagePath %>" required>
                                </label>
                                <hr>
                                <label><strong>Title:</strong>
                                    <input type="text" name="event[title]" value="<%= event.title %>" required>
                                </label>
                                <hr>
                                <label><strong>Description:</strong>
                                    <textarea type="text" name="event[description]" required><%- event.description %></textarea>
                                </label>
                                <hr>
                                <label><strong>Operational Hours:</strong>
                                    <input type="text" name="event[hours]" value="<%- event.hours %>" required>
                                </label>
                                <hr>
                                <label><strong>Location:</strong>
                                    <input type="text" name="event[location]" value="<%- event.location %>" required>
                                </label>
                                <hr>
                                <label><strong>Date Of:</strong>
                                    <input type="text" name="event[date]" value="<%- event.date %>" required>
                                </label>
                                <hr>
                                <div class="flex flex-row justify-end w-full">
                                    <button type="submit" title="Update Event" aria-label="Update Event">Update</button>
                                    <button onclick="deleteItem(0, 'music', '<%- event._id %>', '<%- event.title %>')" type="button">Delete</button>
                                </div>
                                <br>
                            </div>
                        </form>
                    <% } %>
                    <form method="POST" class="delete-form validated-form" novalidate></form>
                    </div>
                </details>
                <details open>
                    <summary class="mb-4"><span>Local Events</span></summary>
                    <div class="summary-wrapper">
                    <% for (let event of events ) { %>
                        <form action="/admin/events/edit/<%= event._id %>?_method=PUT" data-title="<%- event.title %>" method="POST" class="flex flex-row items-start mb-4">
                            <div class="img-wrapper">
                                <div class="spinner"></div>
                                <img class="outline outline-1" src="<%- event.imagePath %>" alt="<%- event.title %>">
                            </div>
                            <div class="card-info flex flex-col px-8 w-full">
                                <br>
                                <label><strong>Image:</strong>
                                    <input type="text" name="event[imagePath]" value="<%- event.imagePath %>" required>
                                </label>
                                <hr>
                                <label><strong>Title:</strong>
                                    <input type="text" name="event[title]" value="<%= event.title %>" required>
                                </label>
                                <hr>
                                <label><strong>Description:</strong>
                                    <textarea type="text" name="event[description]" required><%- event.description %></textarea>
                                </label>
                                <hr>
                                <label><strong>Operational Hours:</strong>
                                    <input type="text" name="event[hours]" value="<%- event.hours %>" required>
                                </label>
                                <hr>
                                <label><strong>Location:</strong>
                                    <input type="text" name="event[location]" value="<%- event.location %>" required>
                                </label>
                                <hr>
                                <label><strong>Date Of:</strong>
                                    <input type="text" name="event[date]" value="<%- event.date %>" required>
                                </label>
                                <hr>
                                <div class="flex flex-row justify-end w-full">
                                    <button type="submit" title="Update Event" aria-label="Update Event">Update</button>
                                    <button onclick="deleteItem(1, 'events', '<%- event._id %>', '<%- event.title %>')" type="button">Delete</button>
                                </div>
                                <br>
                            </div>
                        </form>
                        <% } %>
                        <form method="POST" class="delete-form validated-form" novalidate></form>
                    </div>
                </details>
                <details open>
                    <summary class="mb-4"><span>Local Businesses</span></summary>
                    <div class="summary-wrapper">
                    <% for (let business of businesses ) { %>
                        <form action="/admin/businesses/edit/<%= business._id %>?_method=PUT" data-title="<%- business.title %>" method="POST" class="flex flex-row items-start mb-4">
                            <div class="img-wrapper">
                                <div class="spinner"></div>
                                <img class="outline outline-1" src="<%- business.imagePath %>" alt="<%- business.title %>">
                            </div>
                            <div class="card-info flex flex-col px-8 w-full">
                                <br>
                                <label><strong>Title:</strong>
                                    <input name="business[title]" type="text" value="<%= business.title %>">
                                </label>
                                <hr>
                                <label><strong>Description:</strong>
                                    <textarea type="text" name="business[description]"><%- business.description %></textarea>
                                </label>
                                <hr>
                                <label><strong>Operational Hours:</strong>
                                    <input type="text" name="business[hours]" value="<%- business.hours %>">
                                </label>
                                <hr>
                                <label><strong>Location:</strong>
                                    <input type="text" name="business[location]" value="<%- business.location %>">
                                </label>
                                <hr>
                                <label><strong>Phone:</strong>
                                    <input type="text" name="business[phone]" value="<%- business.phone %>">
                                </label>
                                <hr>
                                <div class="flex flex-row justify-end w-full">
                                    <button type="submit" title="Update Business" aria-label="Update Business">Update</button>
                                    <button onclick="deleteItem(2, 'events', '<%- business._id %>', '<%- business.title %>')" type="button">Delete</button>
                                </div>
                                <br>
                            </div>
                        </form>
                        <% } %>
                        <form method="POST" class="delete-form validated-form" novalidate></form>
                    </div>
                </details>
            </div>
        </section>
    </main>
    <script src="/js/pages/dashboard.js" type="module"></script>
</body>
</html>
