<!DOCTYPE html>
<html lang="en" class="no-js">
<%- include('../partials/head.ejs') %>
<body>
    <%- include('../partials/flash.ejs') %>
    <main id="dashboard">
<!--        Delete Dialog-->
        <dialog class="dashboard-dialog">
            <% for (let i = 0; i < 3; i++) { %>
                <form class="dashboard-dialog-form" action="" method="POST">
                    <p class="dash-dialog-message"></p>
                    <div>
                        <button type="submit" title="Delete" aria-label="Delete">Delete</button>
                        <button type="button" onclick="closeDialog()">Cancel</button>
                    </div>
                </form>
            <% } %>
        </dialog>
        <aside class="dashboard-sidebar-left">
            <h1>Dashboard</h1>
            <div>
                <label><span>2Jz Music Events</span>: <span><%- music.length %></span></label>
            </div>
            <div class="dash-panel-viewer">
                <label><span>Local Events</span>: <span><%- events.length %></span></label>
            </div>
            <div class="dash-panel-viewer">
                <label><span>Local Businesses</span>: <span><%- businesses.length %></span></label>
            </div>
            <div class="dash-panel-search-controls">
                <div>
                    <label for="search-all-input" onclick="toggleInput('search-all-input')" title="Open/Close Search" aria-label="Open/Close Search">Search</label>
                    <input id="search-all-input" class="clear-input rounded p-2 bg-black border border-white w-[250px]" type="text" oninput="searchFunction(this.value.toUpperCase(), localStorage.getItem('open-viewer'))" title="Search..." aria-label="Search..." placeholder="Search...">
                    <button class="clear-button" onclick="clearInput('search-all-input', document.querySelectorAll('.dash-content-music-event, .dash-content-local-event, .dash-content-local-business'))" title="Delete Search" aria-label="Delete Search"><svg xmlns="http://www.w3.org/2000/svg" width="24" viewBox="0 0 24 24"><path fill="#fff" d="M6 19c0 1.1.9 2 2 2h8c1.1 0 2-.9 2-2V7H6v12zm2.46-7.12l1.41-1.41L12 12.59l2.12-2.12 1.41 1.41L13.41 14l2.12 2.12-1.41 1.41L12 15.41l-2.12 2.12-1.41-1.41L10.59 14l-2.13-2.12zM15.5 4l-1-1h-5l-1 1H5v2h14V4z"/></svg></button>
                </div>
                <div>
                    <span class="dash-panel-matches"></span>
                </div>
            </div>
            <nav>
                <div class="flex flex-col">
                    <label>Add</label>
                    <a href="/#">New Music Event</a>
                    <a href="#">New Music Track</a>
                    <a href="#">New Local Event</a>
                    <a href="#">New Local Business</a>
                </div>
                <div class="flex flex-col">
                    <label>Commands</label>
                    <a href="#">Update Spotify RSS Feed</a>
                    <a href="#">Update GitHub Information</a>
                </div>
            </nav>
        </aside>
        <aside class="dashboard-sidebar-right">
            <h1>Dashboard</h1>
            <nav class="flex flex-col">
                <a href="#">Facebook Page</a>
                <a href="#">Instagram</a>
            </nav>
        </aside>
        <section class="dashboard-content">
            <div class="spinner"></div>
            <div class="container">
                <details open>
                    <summary class="mb-4"><span>2Jz Music Events</span></summary>
                    <div class="summary-wrapper">
                    <% for (let event of music ) { %>
                        <form action="/admin/music/edit/<%= event._id %>?_method=PUT" method="POST" class="flex flex-row items-start mb-4 validated-form" novalidate>
                            <img class="outline outline-1" src="<%- event.imagePath %>" alt="<%- event.title %>">
                            <div class="card-info flex flex-col px-8 w-full">
                                <br>
                                <label><strong>Image:</strong>
                                    <input type="text" name="event[imagePath]" value="<%- event.imagePath %>" required>
                                </label>
                                <hr>
                                <label><strong>Title:</strong>
                                    <input type="text" name="event[title]" value="<%= event.title %>" required>
                                </label>
                                <hr>
                                <label><strong>Description:</strong>
                                    <textarea type="text" name="event[description]" required><%- event.description %></textarea>
                                </label>
                                <hr>
                                <label><strong>Operational Hours:</strong>
                                    <input type="text" name="event[hours]" value="<%- event.hours %>" required>
                                </label>
                                <hr>
                                <label><strong>Location:</strong>
                                    <input type="text" name="event[location]" value="<%- event.location %>" required>
                                </label>
                                <hr>
                                <label><strong>Date Of:</strong>
                                    <input type="text" name="event[date]" value="<%- event.date %>" required>
                                </label>
                                <hr>
                                <div class="flex flex-row justify-end w-full">
                                    <button type="submit" title="Update Event" aria-label="Update Event">Update</button>
                                    <button type="button" onclick="openDialog(0, '/admin/music/delete/<%- event._id %>?_method=DELETE', '<%- event.title %>')">Delete</button>
                                </div>
                                <br>
                            </div>
                        </form>
                    <% } %>
                    </div>
                </details>
                <details open>
                    <summary class="mb-4"><span>Local Events</span></summary>
                    <div class="summary-wrapper">
                    <% for (let event of events ) { %>
                        <form action="" class="flex flex-row items-start mb-4">
                            <img class="outline outline-1" src="<%- event.imagePath %>" alt="<%- event.title %>">
                            <div class="card-info flex flex-col px-8 w-full">
                                <br>
                                <label><strong>Title:</strong>
                                    <input type="text" value="<%= event.title %>">
                                </label>
                                <hr>
                                <label><strong>Description:</strong>
                                    <textarea type="text"><%- event.description %></textarea>
                                </label>
                                <hr>
                                <label><strong>Operational Hours:</strong>
                                    <input type="text" value="<%- event.hours %>">
                                </label>
                                <hr>
                                <label><strong>Location:</strong>
                                    <input type="text" value="<%- event.location %>">
                                </label>
                                <hr>
                                <label><strong>Date Of:</strong>
                                    <input type="text" value="<%- event.date %>">
                                </label>
                                <hr>
                                <div class="flex flex-row justify-end w-full">
                                    <a href="/admin/event/edit/<%- event._id %>" title="Edit Event" aria-label="Edit Event">Edit</a>
                                    <button onclick="openDialog(1, '/admin/event/delete/<%- event._id %>?_method=DELETE', '<%- event.title %>')">Delete</button>
                                </div>
                                <br>
                            </div>
                        </form>
                    <% } %>
                    </div>
                </details>
                <details open>
                    <summary class="mb-4"><span>Local Businesses</span></summary>
                    <div class="summary-wrapper">
                    <% for (let business of businesses ) { %>
                        <form action="" class="flex flex-row items-start mb-4">
                            <img class="outline outline-1" src="<%- business.imagePath %>" alt="<%- business.title %>">
                            <div class="card-info flex flex-col px-8 w-full">
                                <br>
                                <label><strong>Title:</strong>
                                    <input type="text" value="<%= business.title %>">
                                </label>
                                <hr>
                                <label><strong>Description:</strong>
                                    <textarea type="text"><%- business.description %></textarea>
                                </label>
                                <hr>
                                <label><strong>Operational Hours:</strong>
                                    <input type="text" value="<%- business.hours %>">
                                </label>
                                <hr>
                                <label><strong>Location:</strong>
                                    <input type="text" value="<%- business.location %>">
                                </label>
                                <hr>
                                <label><strong>Date Of:</strong>
                                    <input type="text" value="<%- business.phone %>">
                                </label>
                                <hr>
                                <div class="flex flex-row justify-end w-full">
                                    <a href="/admin/business/edit/<%- business._id %>" title="Edit Business" aria-label="Edit Business">Edit</a>
                                    <button onclick="openDialog(2, '/admin/business/delete/<%- business._id %>?_method=DELETE', '<%- business.title %>')">Delete</button>
                                </div>
                                <br>
                            </div>
                        </form>
                    <% } %>
                    </div>
                </details>
            </div>
        </section>
<!--        <section>-->
<!--                <div class="dash-content">-->
<!--                    <h2 class="">2Jz Music Events</h2>-->
<!--                    <div class="flex flex-row flex-wrap justify-center lg:justify-between">-->
<!--                        <div class="spinner"></div>-->
<!--                        <% for (let event of music ) { %>-->
<!--                            <div class="dash-content-music-event">-->
<!--                                <% if (event.imagePath) { %>-->
<!--                                    <img src="<%- event.imagePath %>" alt="<%- event.title %>">-->
<!--                                <% } %>-->
<!--                                <h3 class="py-5"><%= event.title %></h3>-->
<!--                                <p><%- event.description %></p>-->
<!--                                <div class="dash-content-info">-->
<!--                                    <span><%- event.hours %></span>-->
<!--                                    <address><%- event.location %></address>-->
<!--                                    <p class="date">On: <%- event.date %></p>-->
<!--                                </div>-->
<!--                                <div class="dash-content-controls">-->
<!--                                    <a class="btn !flex justify-center me-[6px] svg-transition w-full" href="/admin/music/edit/<%- event._id %>" title="Edit Event" aria-label="Edit Event"><svg xmlns="http://www.w3.org/2000/svg" width="24" viewBox="0 0 24 24"><path fill="#fff" d="M3 17.25V21h3.75L17.81 9.94l-3.75-3.75L3 17.25zM20.71 7.04c.39-.39.39-1.02 0-1.41l-2.34-2.34c-.39-.39-1.02-.39-1.41 0l-1.83 1.83 3.75 3.75 1.83-1.83z"/></svg></a>-->
<!--                                    <button onclick="openDialog(0, '/admin/music/delete/<%- event._id %>?_method=DELETE', '<%- event.title %>')">delete</button>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        <% } %>-->
<!--                    </div>-->
<!--                </div>-->
<!--            <div class="dash-content">-->
<!--                <h2>Local Events</h2>-->
<!--                <div class="flex flex-row flex-wrap justify-center lg:justify-between">-->
<!--                    <div class="spinner"></div>-->
<!--                    <% for (let event of events ) { %>-->
<!--                        <div class="dash-content-local-event">-->
<!--                            <% if (event.imagePath) { %>-->
<!--                                <img src="<%- event.imagePath %>" alt="<%- event.title %>">-->
<!--                            <% } %>-->
<!--                            <h3 class="py-5"><%= event.title %></h3>-->
<!--                            <p><%- event.description %></p>-->
<!--                            <div class="dash-content-info">-->
<!--                                <span><%- event.hours %></span>-->
<!--                                <address><%- event.location %></address>-->
<!--                                <p class="date">On: <%- event.date %></p>-->
<!--                            </div>-->

<!--                            <div class="dash-content-controls">-->
<!--                                <a href="/admin/event/edit/<%- event._id %>" title="Edit Event" aria-label="Edit Event"><svg xmlns="http://www.w3.org/2000/svg" width="24" viewBox="0 0 24 24"><path fill="#fff" d="M3 17.25V21h3.75L17.81 9.94l-3.75-3.75L3 17.25zM20.71 7.04c.39-.39.39-1.02 0-1.41l-2.34-2.34c-.39-.39-1.02-.39-1.41 0l-1.83 1.83 3.75 3.75 1.83-1.83z"/></svg></a>-->
<!--                                <button onclick="openDialog(1, '/admin/event/delete/<%- event._id %>?_method=DELETE', '<%- event.title %>')">delete</button>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    <% } %>-->
<!--                </div>-->
<!--            </div>-->
<!--                <div class="dash-content">-->
<!--                    <h2>Local Businesses</h2>-->
<!--                    <div class="flex flex-row flex-wrap justify-center lg:justify-between">-->
<!--                        <div class="spinner"></div>-->
<!--                        <% for (let business of businesses ) { %>-->
<!--                            <div class="dash-content-local-business">-->
<!--                                <% if (business.imagePath) { %>-->
<!--                                    <img src="<%- business.imagePath %>" alt="<%- business.title %>">-->
<!--                                <% } %>-->
<!--                                <h3 class="py-5"><%= business.title %></h3>-->
<!--                                <p><%- business.description %></p>-->
<!--                                <div class="dash-content-info">-->
<!--                                    <span><%- business.hours %></span>-->
<!--                                    <address><%- business.location %></address>-->
<!--                                    <p>Phone: <%- business.phone %></p>-->
<!--                                </div>-->

<!--                                <div class="dash-content-controls">-->
<!--                                    <a href="/admin/business/edit/<%- business._id %>" title="Edit Business" aria-label="Edit Business"><svg xmlns="http://www.w3.org/2000/svg" width="24" viewBox="0 0 24 24"><path fill="#fff" d="M3 17.25V21h3.75L17.81 9.94l-3.75-3.75L3 17.25zM20.71 7.04c.39-.39.39-1.02 0-1.41l-2.34-2.34c-.39-.39-1.02-.39-1.41 0l-1.83 1.83 3.75 3.75 1.83-1.83z"/></svg></a>-->
<!--                                    <button onclick="openDialog(2, '/admin/business/delete/<%- business._id %>?_method=DELETE', '<%- business.title %>')">delete</button>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        <% } %>-->
<!--                    </div>-->
<!--                </div>-->
<!--        </section>-->
    </main>
    <script src="/js/pages/dashboard.js"></script>
    <script type="module">
        const contentDialogs = document.querySelectorAll('.dashboard-content dialog');
        const summaries = document.querySelectorAll('.summary-wrapper')
        const images = document.querySelectorAll("img")

        // const loading = item => {
        //   return new Promise((resolve, reject) => {
        //     if (item.complete) {
        //       resolve(item); // Resolve immediately if the image is already loaded
        //     } else {
        //      item.onload = () => resolve(item);
        //         item.onerror = () => reject(new Error('Failed to load: ' + item));
        //     }
        //   })
        // }
        //
        // let spinners = document.querySelectorAll('.spinner');
        // spinners.forEach(spinner => {
        //   spinner.style.display = 'block';
        // })
        //
        // const promises = Array.from(images).map(img => loading(img))
        //
        // Promise.all(promises).then(() => {
        //   summaries.forEach(item => {
        //     item.style.display = 'block'
        //   })
        //   spinners.forEach(spinner => {
        //     spinner.style.display = 'none';
        //   })
        // })
    </script>
</body>
</html>
