<!DOCTYPE html>
<html lang="en" class="no-js">
<%- include('../partials/head.ejs') %>
<body>
    <main id="dashboard">

        <dialog class="dashboard-dialog">
            <form class="dashboard-dialog-form" method="POST">
                <p class="dialog-msg"></p>
                <div class="img-wrapper">
                    <img class="outline outline-1" src="" alt="">
                    <label><strong>Image:</strong>
                        <input type="text" name="event[imagePath]">
                    </label>
                </div>
                <hr>
                <label><strong>Title:</strong>
                    <input type="text" name="event[title]" required>
                </label>
                <hr>
                <label><strong>Description:</strong>
                    <textarea type="text" name="event[description]"></textarea>
                </label>
                <hr>
                <label><strong>Operational Hours:</strong>
                    <input type="text" name="event[hours]" required>
                </label>
                <hr>
                <label><strong>Location:</strong>
                    <input type="text" name="event[location]" required>
                </label>
                <hr>
                <label><strong class="form-change">Date Of:</strong>
                    <input type="text" name="event[date]" required>
                </label>
                <hr>
                <div class="flex flex-row justify-end w-full">
                    <button type="submit" title="Add" aria-label="Add">Add</button>
                    <button onclick="closeDialog()" type="button" title="Cancel" aria-label="Cancel">Cancel</button>
                </div>
            </form>
        </dialog>

        <aside class="dashboard-sidebar-left">
            <div class="flex flex-row justify-between w-full">
                <h1>OEP Dashboard</h1>
                <a href="/admin/logout">Logout</a>
            </div>

            <div>
                <label>2Jz Music Events: <%- music.length %></label>
            </div>
            <div class="dash-panel-viewer">
                <label>Local Events: <%- events.length %></label>
            </div>
            <div class="dash-panel-viewer">
                <label>Local Businesses: <%- businesses.length %></label>
            </div>
            <div class="dashboard-sidebar-search">
                <label for="search-all-input">Search</label>
                <div>
                    <input id="search-all-input" class="clear-input" type="text" oninput="search(this.value.toUpperCase(), document.querySelectorAll('.item-form'))" title="Search" aria-label="Search">
                    <button class="clear-button" onclick="clearInput('search-all-input', document.querySelectorAll('.item-form'))" title="Delete Search" aria-label="Delete Search">x</button>
                </div>
            </div>
            <hr>
            <nav>
                <div class="flex flex-col">
                    <label style="margin-top: 0">Website</label>
                    <a href="/">Home</a>
                    <a href="/twojz-music">2Jz Music</a>
                    <a href="/platinum-signatures">Platinum Signatures</a>
                    <a href="/mneumatic-designs">MNEUMATIC Designs</a>
                    <a href="/community">Community</a>
                    <a href="/community/events">Local Events</a>
                    <a href="/community/businesses">Local Businesses</a>
                    <a href="/contact">Contact Us</a>
                </div>
                <div class="flex flex-col">
                    <label>+ Add</label>
                    <button onclick="openDialog(0, 'music', 'Add New Event')">New Music Event</button>
                    <button onclick="openDialog(0, 'events', 'Add New Event')">New Local Event</button>
                    <button onclick="openDialog(0, 'businesses', 'Add New Business')">New Local Business</button>
                </div>
                <div class="flex flex-col">
                    <label>Commands</label>
                    <a href="/admin/update-rss">Update Spotify RSS Feed</a>
                    <a href="/admin/update-github">Update GitHub Information</a>
                </div>
            </nav>
        </aside>
        <aside class="dashboard-sidebar-right">
            <div>
                <h2>Information</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid amet architecto at atque dolore, excepturi ipsam maxime, minima, nisi nobis omnis porro praesentium quidem sed sequi similique soluta voluptas voluptatibus?</p>
            </div>
            <hr>
            <div>
                <h2>Social Media</h2>
                <nav class="flex flex-col">
                    <a href="https://www.facebook.com/profile.php?id=61567183989485" title="Follow Us on FaceBook" aria-label="Follow Us on FaceBook" target="_blank" rel="noreferrer noopener">Facebook</a>
                    <a href="https://www.instagram.com/off_ended_productions" title="Follow Us on Instagram" aria-label="Follow Us on Instagram" target="_blank" rel="noreferrer noopener">Instagram</a>
                </nav>
            </div>
        </aside>
        <section class="dashboard-content">
            <%- include('../partials/flash.ejs') %>
            <div class="container">
                <details open>
                    <summary class="mb-4"><span>2Jz Music Events</span></summary>
                    <div class="summary-wrapper">
                    <% for (let event of music ) { %>
                        <form action="/admin/music/edit/<%= event._id %>?_method=PUT" data-title="<%- event.title %>"  method="POST" class=" item-form flex flex-row items-start mb-4 validated-form" novalidate>
                            <div class="flex flex-col">
                                <h3><%- event.title %></h3>
                                <div class="img-wrapper">
                                    <div class="spinner"></div>
                                    <img class="outline outline-1" src="<%- event.imagePath %>" alt="<%- event.title %>">
                                </div>
                            </div>

                            <div class="card-info flex flex-col px-8 w-full">
                                <br>
                                <label><strong>Image:</strong>
                                    <input type="text" name="event[imagePath]" value="<%- event.imagePath %>" required>
                                </label>
                                <hr>
                                <label><strong>Title:</strong>
                                    <input class="title" type="text" name="event[title]" value="<%= event.title %>" required>
                                </label>
                                <hr>
                                <label><strong>Description:</strong>
                                    <textarea type="text" name="event[description]" required><%- event.description %></textarea>
                                </label>
                                <hr>
                                <label><strong>Operational Hours:</strong>
                                    <input type="text" name="event[hours]" value="<%- event.hours %>" required>
                                </label>
                                <hr>
                                <label><strong>Location:</strong>
                                    <input type="text" name="event[location]" value="<%- event.location %>" required>
                                </label>
                                <hr>
                                <label><strong>Date Of:</strong>
                                    <input type="text" name="event[date]" value="<%- event.date %>" required>
                                </label>
                                <hr>
                                <div class="flex flex-row justify-end w-full">
                                    <button type="submit" title="Update Event" aria-label="Update Event">Update</button>
                                    <button onclick="deleteItem(0, 'music', '<%- event._id %>', '<%- event.title %>')" type="button">Delete</button>
                                </div>
                                <br>
                            </div>
                        </form>
                    <% } %>
                    <form method="POST" class="delete-form validated-form" novalidate></form>
                    </div>
                </details>
                <details open>
                    <summary class="mb-4"><span>Local Events</span></summary>
                    <div class="summary-wrapper">
                    <% for (let event of events ) { %>
                        <form action="/admin/events/edit/<%= event._id %>?_method=PUT" data-title="<%- event.title %>" method="POST" class="item-form flex flex-row items-start mb-4">
                            <div class="flex flex-col">
                                <h3><%- event.title %></h3>
                                <div class="img-wrapper">
                                    <div class="spinner"></div>
                                    <img class="outline outline-1" src="<%- event.imagePath %>" alt="<%- event.title %>">
                                </div>
                            </div>
                            <div class="card-info flex flex-col px-8 w-full">
                                <br>
                                <label><strong>Image:</strong>
                                    <input type="text" name="event[imagePath]" value="<%- event.imagePath %>" required>
                                </label>
                                <hr>
                                <label><strong>Title:</strong>
                                    <input class="title" type="text" name="event[title]" value="<%= event.title %>" required>
                                </label>
                                <hr>
                                <label><strong>Description:</strong>
                                    <textarea type="text" name="event[description]" required><%- event.description %></textarea>
                                </label>
                                <hr>
                                <label><strong>Operational Hours:</strong>
                                    <input type="text" name="event[hours]" value="<%- event.hours %>" required>
                                </label>
                                <hr>
                                <label><strong>Location:</strong>
                                    <input type="text" name="event[location]" value="<%- event.location %>" required>
                                </label>
                                <hr>
                                <label><strong>Date Of:</strong>
                                    <input type="text" name="event[date]" value="<%- event.date %>" required>
                                </label>
                                <hr>
                                <div class="flex flex-row justify-end w-full">
                                    <button type="submit" title="Update Event" aria-label="Update Event">Update</button>
                                    <button onclick="deleteItem(1, 'events', '<%- event._id %>', '<%- event.title %>')" type="button">Delete</button>
                                </div>
                                <br>
                            </div>
                        </form>
                        <% } %>
                        <form method="POST" class="delete-form validated-form" novalidate></form>
                    </div>
                </details>
                <details open>
                    <summary class="mb-4"><span>Local Businesses</span></summary>
                    <div class="summary-wrapper">
                    <% for (let business of businesses ) { %>
                        <form action="/admin/businesses/edit/<%= business._id %>?_method=PUT" data-title="<%- business.title %>" method="POST" class="item-form flex flex-row items-start mb-4">
                            <div class="flex flex-col">
                                <h3><%- business.title %></h3>
                                <div class="img-wrapper">
                                    <div class="spinner"></div>
                                    <img class="outline outline-1" src="<%- business.imagePath %>" alt="<%- business.title %>">
                                </div>
                            </div>
                            <div class="card-info flex flex-col px-8 w-full">
                                <br>
                                <label><strong>Title:</strong>
                                    <input class="title" name="business[title]" type="text" value="<%= business.title %>">
                                </label>
                                <hr>
                                <label><strong>Description:</strong>
                                    <textarea type="text" name="business[description]"><%- business.description %></textarea>
                                </label>
                                <hr>
                                <label><strong>Operational Hours:</strong>
                                    <input type="text" name="business[hours]" value="<%- business.hours %>">
                                </label>
                                <hr>
                                <label><strong>Location:</strong>
                                    <input type="text" name="business[location]" value="<%- business.location %>">
                                </label>
                                <hr>
                                <label><strong>Phone:</strong>
                                    <input type="text" name="business[phone]" value="<%- business.phone %>">
                                </label>
                                <hr>
                                <div class="flex flex-row justify-end w-full">
                                    <button type="submit" title="Update Business" aria-label="Update Business">Update</button>
                                    <button onclick="deleteItem(2, 'businesses', '<%- business._id %>', '<%- business.title %>')" type="button">Delete</button>
                                </div>
                                <br>
                            </div>
                        </form>
                        <% } %>
                        <form method="POST" class="delete-form validated-form" novalidate></form>
                    </div>
                </details>
            </div>
        </section>
    </main>
    <script src="/js/pages/dashboard.js"></script>
    <script type="module">
      import { loading } from "/js/utils/loading.js";

      const spinners = document.querySelectorAll('.spinner')
      const images = document.querySelectorAll('.dashboard-content img')

      spinners.forEach(spinner => {
        spinner.style.display = 'block';
      })

      const promises = Array.from(images).map(img => loading(img))
      Promise.all(promises).then(() => {
        spinners.forEach(spinner => {
          spinner.style.display = 'none';
        })
      })
    </script>
</body>
</html>
