<!DOCTYPE html>
<html lang="en" class="no-js">
    <%- include('partials/head.ejs') %>
<body>
    <%- include('partials/navbar.ejs') %>
    <main id="community">
        <section class="bg-black">
            <div class="container flex flex-col-reverse xl:grid grid-cols-2 gap-7 justify-center text-white">
                <div>
                    <div class="text-center xl:text-start">
                        <span>Local</span>
                        <h2 class="display-2">Business</h2>
                        <p class="text-4xl permanent-marker-regular">Radical Local Businesses!</p>
                    </div>
                    <br>
                    <p>At Off Ended Productions, we take pride in championing local businesses that fuel our community's spirit and innovation. From the cozy coffee shops that keep our creative juices flowing to the tech startups redefining the digital landscape, we believe in the power of local enterprises to drive change and inspire greatness. Whether it's through collaboration, promotion, or simply showing up and supporting, Off Ended Productions is committed to uplifting the local heroes who make our community vibrant and unique. Together, we create a dynamic ecosystem where creativity thrives and possibilities are endless.</p>
                </div>
                <div class="container__animated">
                    <img class="img-fluid rounded invisible" src="/img/running-springs-ca.webp" alt="Running Springs CA"/>
                </div>
            </div>
        </section>
        <section class="oep-stickman">
            <div class="container">
                <div class="caption">
                    <h2 class="text-center">Local Businesses</h2>
                    <p class="font-bold">Running Springs, California, is home to a variety of wonderful local businesses that make the community vibrant and welcoming. From charming cafes like Old Country Coffee Shop and LuluBelle’s Coffee House and Bakery, to delightful dining options such as Neo's Pizza House and Toto, there's something for everyone to enjoy. Outdoor enthusiasts will appreciate shops like AE Wood Products for gear and supplies, while antique lovers can explore treasures at Mountain Thrift & Video. The Running Springs Farmers Market and Artisan Faire is a perfect spot to find fresh produce and unique handmade goods. Whether you're looking for a cozy place to relax, a delicious meal, or outdoor adventure gear, Running Springs has it all.</p>
                </div>

                <div class="container__animated-flex flex flex-row flex-wrap justify-center lg:justify-evenly pt-10">
                    <% for (let business of businesses ) { %>
                    <div class="y-translate bg-black p-5 my-5 mx-5 min-[1535px]:mx-0 rounded w-[320px]">
                        <img class="img-fluid rounded outline outline-1" src="<%- business.imagePath %>" alt="<%- business.title %>">
                        <div>
                            <h3 class="py-5"><%- business.title %></h3>
                            <p><%- business.description %></p>
                            <div class="flex flex-col text-end py-3">
                                <span><%- business.hours %></span>
                                <address><%- business.location %></address>
                            </div>
                            <a class="btn mt-3" href="tel:<%- business.phone %>">Call Now!</a>
                        </div>
                    </div>
                    <% } %>
                </div>
            </div>
            <div class="container container__animated-flex flex flex-row items-center justify-center mt-10">
                <a class="btn w-[175px] lg:w-[200px] y-translate" href="/community/events">Events</a>
            </div>
        </section>
    </main>
    <%- include('partials/footbar.ejs') %>
    <%- include('partials/scripts.ejs') %>
    <script src="/js/images.js"></script>
    <script>
        const images = document.querySelectorAll(".container__animated")
        const businesses = document.querySelectorAll(".container__animated-flex")
        const captions = document.querySelectorAll(".caption")

        const observer = new IntersectionObserver(handleIntersection, options)
        const observerCaptions = new IntersectionObserver(handleCaptions, options)

        images.forEach(element => {
          observer.observe(element)
        })

        businesses.forEach(element => {
          observer.observe(element)
        })

        captions.forEach(element => {
          observerCaptions.observe(element)
        })
    </script>
</body>
</html>
