<!DOCTYPE html>
<html lang="en" class="no-js">
    <%- include('partials/head.ejs') %>
<body>
    <%- include('partials/navbar.ejs') %>
    <main id="community">
        <section class="bg-black">
            <div class="container flex flex-col-reverse xl:grid grid-cols-2 gap-7 justify-center text-white">
                <div>
                    <div class="text-center md:text-start">
                        <span>Local</span>
                        <h2>Business</h2>
                        <p class="text-4xl permanent-marker-regular">Radical Local Businesses!</p>
                    </div>
                    <br>
                    <p>At Off Ended Productions, we take pride in championing local businesses that fuel our community's spirit and innovation. From the cozy coffee shops that keep our creative juices flowing to the tech startups redefining the digital landscape, we believe in the power of local enterprises to drive change and inspire greatness. Whether it's through collaboration, promotion, or simply showing up and supporting, Off Ended Productions is committed to uplifting the local heroes who make our community vibrant and unique. Together, we create a dynamic ecosystem where creativity thrives and possibilities are endless.</p>
                </div>
                <div class="container__animated">
                    <img class="img-fluid rounded invisible" src="/img/running-springs-ca.webp" alt="Running Springs CA"/>
                </div>
            </div>
        </section>
        <section class="oep-stickman">
            <div>
                <h2 class="text-center">Local Businesses</h2>
                <div class="container flex flex-row flex-wrap justify-center lg:justify-evenly">
                    <% for (let business of businesses ) { %>
                    <div class="bg-black p-5 my-5 mx-5 lg:me-10 lg:ms-0 rounded w-[320px]">
                        <img class="img-fluid rounded outline outline-1" src="<%- business.imagePath %>" alt="<%- business.title %>">
                        <div>
                            <h3 class="py-5"><%- business.title %></h3>
                            <p><%- business.description %></p>
                            <div class="flex flex-col text-end py-3">
                                <span><%- business.hours %></span>
                                <address><%- business.location %></address>
                            </div>
                            <a class="btn mt-3" href="tel:<%- business.phone %>">Call Now!</a>
                        </div>
                    </div>
                    <% } %>
                </div>
            </div>
            <div class="container flex flex-row items-center justify-between mt-10">
                <a class="btn w-[175px] lg:w-[200px] outline outline-1" href="/community">← Community</a>
                <a class="btn w-[175px] lg:w-[200px] outline outline-1" href="/community/events">Events →</a>
            </div>
        </section>
    </main>
    <%- include('partials/footbar.ejs') %>
    <%- include('partials/scripts.ejs') %>
    <script src="/js/images.js"></script>
    <script>
        const communityImages = document.querySelector(".container__animated")
        const observer = new IntersectionObserver(handleIntersection, options)
        observer.observe(communityImages)
    </script>
</body>
</html>
