<!DOCTYPE html>
<html lang="en" class="no-js">
    <%- include('partials/head.ejs') %>
<body>
    <%- include('partials/navbar.ejs') %>
    <main id="community">
        <section class="bg-black">
            <div class="container flex flex-col-reverse xl:grid grid-cols-2 gap-7 justify-center text-white">
                <div>
                    <div class="text-center xl:text-start">
                        <span>Local</span>
                        <h2 class="display-2">Events</h2>
                        <p class="text-4xl permanent-marker-regular">Awesome local events!</p>
                    </div>
                    <br>
                    <p>Off Ended Productions is all about amplifying the pulse of our local community by backing the events that bring us all together. From vibrant street festivals that showcase local talent to groundbreaking tech expos and inspiring arts showcases, we're right there in the mix, lending our support and expertise. We believe in the power of shared experiences to spark creativity, foster connections, and celebrate the spirit of our community. At Off Ended Productions, we're not just participants—we're passionate advocates for the events that make our local scene so dynamic and unforgettable.</p>
                </div>
                <div class="container__animated">
                    <img class="img-fluid rounded invisible" src="/img/running-springs-ca.webp" alt="Running Springs CA" />
                </div>
            </div>
        </section>
        <section class="oep-stickman">
            <div class="spinner"></div>
            <div class="container">
                <div class="caption">
                    <h2 class="text-center">Upcoming Events</h2>
                    <p class="font-bold">Running Springs, California, is a charming community that hosts a variety of exciting local events throughout the year. From the vibrant St. Bernardine Certified Farmers Market to the thrilling San Bernardino Lunar Festival, there's always something happening. The area also offers unique experiences like the Self-Care City Scavenger Hunt and the Lively Lake Arrowhead Amazing Race & Tour, perfect for families and adventure seekers alike. Whether you're into outdoor activities, cultural events, or just looking to connect with the community, Running Springs has something special for everyone.</p>
                </div>

                <div class="container__animated-flex flex flex-row flex-wrap justify-center lg:justify-evenly pt-10">
                    <% for (let event of events ) { %>
                        <div class="event y-translate bg-black p-5 my-5 mx-5 min-[1535px]:mx-0 rounded w-[320px]">
                            <% if (event.imagePath) { %>
                                <img class="img-fluid rounded outline outline-1" src="<%- event.imagePath %>" alt="<%- event.title %>">
                            <% } %>
                            <div>
                                <h3 class="py-5"><%= event.title %></h3>
                                <p><%- event.description %></p>
                                <div class="flex flex-col text-end py-3">
                                    <span><%- event.hours %></span>
                                    <address><%- event.location %></address>
                                </div>
                                <p class="date font-bold text-end py-3">On: <%- event.date %></p>
                            </div>
                        </div>
                    <% } %>
                </div>
            </div>
            <div class="container container__animated-flex flex flex-row items-center justify-center mt-10">
                <a class="btn w-[175px] lg:w-[200px] y-translate" href="/community/businesses">Businesses</a>
            </div>
        </section>
    </main>
    <%- include('partials/footbar.ejs') %>
    <%- include('partials/scripts.ejs') %>
    <script src="/js/images.js"></script>
    <script src="/js/vendor/moment.js"></script>
    <script>
        const hero = document.querySelectorAll(".container__animated")
        const eventCards = document.querySelectorAll('.container__animated-flex')
        const captions = document.querySelectorAll(".caption")
        const images = document.querySelectorAll('img')

        const observer = new IntersectionObserver(handleIntersection, options)
        const observerCaptions = new IntersectionObserver(handleCaptions, options)

        hero.forEach(element => {
          observer.observe(element)
        })

        let spinner = document.querySelector('.spinner');
        spinner.style.display = 'block';

        const promises = Array.from(images).map(img => loadImage(img))

        Promise.all(promises).then(() => {
          eventCards.forEach(element => {
            observer.observe(element)
          })

          captions.forEach(element => {
            observerCaptions.observe(element)
          })
          spinner.style.display = 'none';
        })

        const events = document.querySelectorAll('.event')
        const date = new Date()

        // TODO: Add an additional day to event so even appears on the day of said event.
        events.forEach(element => {
            const tmp = moment(date).format()
            const eventDate = moment(element.querySelector('.date').innerText).format()
            if (tmp > eventDate) {
                element.remove()
            }
        })
    </script>
</body>
</html>
