<!DOCTYPE html>
<html lang="en" class="no-js">
<%- include('partials/head.ejs') %>
<body>
    <%- include('partials/header.ejs') %>
    <%- include('partials/flash.ejs') %>
    <main id="contact">
        <section class="content">
            <div class="content-wrapper">
                <div class="content-info">
                    <div>
                        <h2>Contact Us</h2>
                        <p>Reach Out. Let's Conquer Together.</p>
                    </div>
                    <br>
                    <p>Got a burning question, a daring request, or a fierce business opportunity? Use our contact form to reach Off Ended Productions. We thrive on bold ideas and relentless pursuits. Expect nothing less than an unyielding response.</p>
                </div>
                <div class="content-images">
                    <img src="/img/oep-logo.webp" alt="Off Ended Productions">
                </div>
            </div>
        </section>
        <section class="content contact">
            <div class="content-wrapper">
                <div class="content-info">
                    <% if (email === "true") { %>
                    <div class="content-header">
                        <h2>Thank you!</h2>
                        <p>Please give us some time to get back with you. We are only a team of 3, so it may take some time. If you want a quicker response you can try one of our social media accounts.</p>
                    </div>
                    <% } else { %>
                    <div class="content-header">
                        <h2>Shoot Us A Question</h2>
                        <p>No such thing as a stupid question. NOT!</p>
                    </div>

                    <div class="content-form">
                        <form action="/contact" method="POST" class="validated-form" novalidate>
                            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                            <div>
                                <label for="name">Name</label>
                                <input type="text" id="name" name="name" placeholder="John Doe" aria-placeholder="John Doe" required>
                            </div>
                            <div>
                                <label for="email">Email</label>
                                <input type="email" id="email" name="email" placeholder="johndoe@gmail.com" aria-placeholder="johndoe@gmail.com" required>
                            </div>
                            <div>
                                <label for="subject">Subject</label>
                                <input type="text" id="subject" name="subject" placeholder="Subject matter goes here" aria-placeholder="Subject matter goes here">
                            </div>
                            <div>
                                <label for="message">Message</label>
                                <textarea rows="5" cols="100" type="text" id="message" name="message" placeholder="Type your message here." aria-placeholder="Type your message here." required></textarea>
                            </div>
                            <div>
                                <button type="submit" title="Send" aria-label="Send">Send It!</button>
                            </div>
                        </form>
                    </div>
                <% } %>
                </div>
            </div>
        </section>
    </main>
    <%- include('partials/footer.ejs') %>
    <script src='/js/utils/validateForms.js'></script>
    <script src="/js/pages/contact.js" type="module"></script>
</body>
</html>
