<!DOCTYPE html>
<html lang="en" class="no-js">
<%- include('partials/head.ejs') %>
<body>
  <%- include('partials/navbar.ejs') %>
  <main>
      <section id="hero" class="relative h-screen flex flex-col items-center justify-center text-white bg-black">
          <div class="container flex flex-col items-center justify-center">
              <h1 class="hidden">OFF ENDED Productions</h1>
              <video autoplay muted playsinline preload="auto">
                  <source src="img/hero-brand-logo.mp4" type="video/mp4">
              </video>
              <span id="motto" class="max-w-[992px] text-2xl permanent-marker-regular text-center">
                <% for (let mot of motto.motto ) { %>
                    <span class="opacity-0"><%= mot %></span>
                <% } %>
              </span>
          </div>
          <div class="absolute bottom-12 flex items-center justify-center blink">
              <span class="text-sm">Scroll Down ⤵</span>
          </div>
      </section>

      <section id="content" class="overflow-hidden oep-stickman">
          <div class="container">
              <div class="text-center mb-5">
                  <h2 class="mb-5">We Create Impact</h2>
                  <p class="font-bold">At Off Ended Productions, we don't just dabble in creativity—we dominate it! From mastering the beats in music to designing jaw-dropping web experiences, leading the charge in gaming innovation, and nailing the nuances of tax preparation, we do it all with unapologetic brilliance. Our team thrives on shattering expectations and setting new benchmarks, creating content that radiates originality and sheer prowess. Off Ended Productions is where extraordinary isn't just an adjective, but our very essence. Dive in and witness the spectacle of pure epicness.</p>
              </div>
              <div class="flex flex-col sm:flex-row flex-wrap items-center justify-evenly">
                  <% for (let category of categories) { %>
                      <div class="p-10 w-[320px] text-center">
                          <a class="container__animated scale rounded" href="<%- category.urlPath %>" title="<%= category.title %> →" aria-label="<%= category.title %>">
                              <img class="img-fluid y-translate rounded" src="<%- category.imagePath %>" alt="<%= category.title %>">
                          </a>
                          <figcaption class="caption permanent-marker-regular transition-opacity mt-2"><%= category.title %></figcaption>
                      </div>
                  <% } %>
              </div>
          </div>
      </section>
  </main>
  <%- include('partials/footbar.ejs') %>
  <%- include('partials/scripts.ejs') %>
  <script src="js/images.js"></script>
  <script>
      const contentLinks = document.querySelectorAll(".container__animated")
      const captions = document.querySelectorAll("figcaption")
      const observer = new IntersectionObserver(handleIntersection, options)
      const observerCaptions = new IntersectionObserver(handleCaptions, options)
      const mottoSpans = document.querySelectorAll("#motto span")

      setTimeout(function () {
          showImages(mottoSpans)
      }, 1500)

      contentLinks.forEach(link => {
          observer.observe(link)
      })

      captions.forEach(caption => {
          observerCaptions.observe(caption)
      })
  </script>
</body>
</html>
