<!DOCTYPE html>
<html lang="en" class="no-js">
<%- include('partials/head.ejs') %>
<body>
  <%- include('partials/header.ejs') %>
  <main id="lp">
      <section class="lp-hero">
          <div class="lp-brand">
              <h1>OFF ENDED Productions</h1>
              <video autoplay muted playsinline preload="auto">
                  <source src="img/hero-brand-logo.mp4" type="video/mp4">
              </video>
              <span class="lp-mottos">
                <% for (let mot of motto.motto ) { %>
                    <span><%= mot %></span>
                <% } %>
              </span>
          </div>
          <div class="lp-categories">
              <% for (let category of categories) { %>
                  <div class="lp-category">
                      <a class="container__animated" href="<%- category.url %>" title="<%= category.title %> →" aria-label="<%= category.title %>">
                          <img class="y-translate" src="/img/<%- category.image %>" alt="<%= category.title %>">
                      </a>
                      <label class="caption"><%= category.title %></label>
                  </div>
              <% } %>
          </div>
      </section>
  </main>
  <%- include('partials/footer.ejs') %>
  <%- include('partials/scripts.ejs') %>
  <script src="/js/images.js"></script>
  <script src="/js/pages/lp.js"></script>
</body>
</html>
