<!DOCTYPE html>
<html lang="en" class="no-js">
<%- include('../partials/head.ejs') %>
<body>
    <%- include('../partials/navbar.ejs') %>
    <%- include('../partials/flash.ejs') %>
    <main id="dashboard">
        <section>
            <div class="container text-center">
                <h1 class="display-2">Edit</h1>
                <div class="flex flex-col items-center justify-center">
                    <p class="text-red-600 font-bold">IMPORTANT</p>
                    <ul class="list-disc flex flex-col items-start justify-center">
                        <li>Do NOT change field formating:</li>
                        <li class="ms-5">Date needs to be in "XX/XX/XXXX" format</li>
                        <li class="ms-5">Hours needs to be in "XX:XX:XX - XX:XX:XX" format</li>
                        <li>Images will need to be URL from an external source</li>
                    </ul>
                </div>
            </div>
        </section>
        <div class="oep-stickman">
            <div class="spinner"></div>
            <section>
                <div class="container container__animated-flex items-center justify-center">
                    <div class="rounded p-5 bg-black y-translate">
                        <h2 class="display-2">Editing: <%- item.title %></h2>
                        <form action="/<%= item._id %>?_method=PUT" method="POST" class="validated-form flex flex-col items-center justify-center" novalidate>
                            <div class="mb-3 w-full">
                                <label class="block" for="title">Title</label>
                                <input class="rounded p-2 bg-black border border-white w-full" type="text" id="title" name="item[title]" value="<%- item.title %>" required>
                            </div>
                            <div class="mb-3 w-full">
                                <label class="block" for="description">Description</label>
                                <textarea rows="5" class="rounded p-2 bg-black border border-white w-full" type="text" id="description" name="item[description]" required><%- item.description %></textarea>
                            </div>
                            <% if (item.imagePath) { %>
                                <div class="mb-3 w-full">
                                    <label class="block" for="imagePath">Image URL</label>
                                    <div class="flex items-center justify-center">
                                        <img class="thumbnail img-fluid rounded outline outline-1 me-5" src="<%- item.imagePath %>" alt="<%- item.title %>">
                                        <input class="rounded p-2 bg-black border border-white w-full" type="text" id="imagePath" name="item[imagePath]" value="<%- item.imagePath %>" required>
                                    </div>
                                </div>
                            <% } %>
                            <div class="mb-3 w-full">
                                <label class="block" for="date">Date</label>
                                <input class="rounded p-2 bg-black border border-white w-full" type="text" id="date" name="item[date]"
                                       value="<%- item.date %>" required>
                            </div>
                            <div class="mb-3 w-full">
                                <label class="block" for="location">Location</label>
                                <input class="rounded p-2 bg-black border border-white w-full" type="text" id="location" name="item[location]"
                                       value="<%- item.location %>" required>
                            </div>
                            <div class="mb-3 w-full">
                                <label class="block" for="hours">Hours</label>
                                <input class="rounded p-2 bg-black border border-white w-full" type="text" id="hours" name="item[hours]"
                                       value="<%- item.hours %>" required>
                            </div>
                            <div class="flex flex-row items-start justify-start mt-3 w-full">
                                <button class="btn me-3" type="submit" title="Update" aria-label="Update">Update</button>
                                <button class="btn" type="button" onclick="history.back()" title="Cancel" aria-label="Cancel">Cancel</button>
                            </div>
                        </form>
                    </div>
                </div>
            </section>
        </div>
    </main>
    <%- include('../partials/footbar.ejs') %>
    <%- include('../partials/scripts.ejs') %>
    <script src='/js/validateForms.js'></script>
    <script src="/js/search.js"></script>
    <script src="/js/images.js"></script>
    <script>
      const content = document.querySelectorAll('.container__animated-flex')
      const images = document.querySelectorAll('img')

      const observer = new IntersectionObserver(handleIntersection, options)

      let spinner = document.querySelector('.spinner');
      spinner.style.display = 'block';

      const promises = Array.from(images).map(img => loadImage(img))

      Promise.all(promises).then(() => {
        content.forEach(element => {
          observer.observe(element)
        })
        spinner.style.display = 'none';
      })

      const input = document.getElementById('imagePath');
      const image = document.querySelector('.thumbnail');

      input.addEventListener('change', function () {
        image.src = input.value;
        image.alt = input.value;
      })
    </script>
</body>
</html>
